@import './rainbow.scss';
@import './vars.scss';
@import './overrides.scss';
@import './medium-zoom.scss';


@media (max-width: 800px) {
  .image-src {
    max-width:80%;
    max-height:88%;
  }
}
@media (min-width: 1080px) {
  .image-src {
    max-width:370px;
    max-height:390px;
  }
 }